.button {
  border-radius: vw(30);
  font-family: $font-main;
  font-size: vw(16);
  font-weight: 700;
  padding: vw(12) vw(32);
  position: relative;
  color: $white;
  background: $gradient-accent;
  border: none;
  display: inline-block;
  @extend .hover-zoom;
  box-shadow: 0 vw(4) vw(15) rgba($blue, 0.3);

  &:focus {
    box-shadow: none;
    outline: 0;
  }

  &:hover {
    color: $white;
    background: $gradient-accent-hover;
    box-shadow: 0 vw(6) vw(20) rgba($blue, 0.4);
  }
}
