<div class="chat animated pulse infinite">
  <a title="Send message through WhatsApp" class="icon icon--bigger icon--whatsapp icon--whatsapp-white" href="https://api.whatsapp.com/send?1=pt_BR&phone=5543996168589&text=Hello! I came across your website" target="_blank"></a>
</div>
