<section id="experience" data-anchor-scroll="experience" class="experience">
    <div class="experience__wrapper">
        <h2 class="experience__title wow animated fadeIn" data-wow-delay="0.1s">Experience</h2>
        <div class="spacer" data-height="60"></div>
        <div class="experience__content">
            <div class="experience__timeline wow animated fadeIn" data-wow-delay="0.3s">
                <div class="experience__timeline-content">
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2020 — 2022</span>
                        <h3 class="wow fadeInLeft">Slingshot Digital<br><small>(Front-end Developer)</small></h3>
                        <p class="wow fadeInLeft">- Creating pages from prototypes in .psd and .xd, provided by customers</p>
                        <p class="wow fadeInLeft">- Development of new features for existing applications or already launched releases</p>
                        <p class="wow fadeInLeft">- Facelifts and general layout changes</p>
                        <p class="wow fadeInLeft">- Estimating and defining delivery times</p>
                        <p class="wow fadeInLeft">- Maintainance of projects bug queue</p>
                        <p class="wow fadeInLeft">- Implementation and testing of metrics (Adobe Audience Manager, Facebook Pixel, Google Tag Manager)</p>
                        <p class="wow fadeInLeft">- Using Adobe package for editing images/videos</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2019 — 2020</span>
                        <h3 class="wow fadeInLeft">ForLogic<br><small>(Fullstack Developer)</small></h3>
                        <p class="wow fadeInLeft">- Migration of the organization's digital products from the MVC model to Angular, using REST API (C#) and Scrum as agile methodology</p>
                        <p class="wow fadeInLeft">- Maintenance of the company's legacy product bug queue using Kanban methodology</p>
                        <p class="wow fadeInLeft">- Development and maintenance of internally consumed APIs offered as services</p>
                        <p class="wow fadeInLeft">- Creation and refactoring of unit tests using xUnit</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2019</span>
                        <h3 class="wow fadeInLeft">Robert Walters <br><small>(Information Technology Recruiter)</small></h3>
                        <p class="wow fadeInLeft">- Specialized recruitment and selection of IT professionals</p>
                        <p class="wow fadeInLeft">- Curriculum analysis and evaluation of professionals in the infrastructure, development, information security and DevOps division</p>
                        <p class="wow fadeInLeft">- Support and follow-up of professionals until the moment of actual hiring</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2018 — 2019</span>
                        <h3 class="wow fadeInLeft">Infinite Cloud <br><small>(Front-end developer)</small></h3>
                        <p class="wow fadeInLeft">- Development of web projects such as e-commerce, institutional websites, portfolios and websites in general</p>
                        <p class="wow fadeInLeft">- Consulting and monitoring of Facebook and Google AdWords advertising</p>
                        <p class="wow fadeInLeft">- Web-oriented artistic production, development and application</p>
                        <p class="wow fadeInLeft">- Responsible for deploying and releasing the developed products</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2016 — 2017</span>
                        <h3 class="wow fadeInLeft">S4W<br><small>(Fullstack Developer)</small></h3>
                        <p class="wow fadeInLeft">- Web development from prototypes (Photoshop)</p>
                        <p class="wow fadeInLeft">- Database maintenance (SQL server)</p>
                        <p class="wow fadeInLeft">- Development and logical coding of projects (ASP.NET and C#)</p>
                        <p class="wow fadeInLeft">- Refactoring and graphical improvements of existing projects</p>
                        <p class="wow fadeInLeft">- Testing and refactoring old code</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2014 — 2015</span>
                        <h3 class="wow fadeInLeft">Cornélio Procópio's City Hall <br><small>(Infrastructure Intern)</small></h3>
                        <p class="wow fadeInLeft">- Web development from Photoshop prototypes</p>
                        <p class="wow fadeInLeft">- Database maintenance using SQL server</p>
                        <p class="wow fadeInLeft">- Development and logical coding of projects using ASP.NET and C#</p>
                        <p class="wow fadeInLeft">- Refactoring and graphical improvements of existing projects</p>
                        <p class="wow fadeInLeft">- Implementing tests and refactoring old code</p>
                    </div>
                    <span class="experience__timeline-line experience__timeline-line--blue wow fadeIn" data-wow-delay="0.2s"></span>
                </div>
            </div>
            <div class="experience__timeline experience__timeline--education wow animated fadeIn" data-wow-delay="0.5s">
                <div class="experience__timeline-content">
                    <div class="experience__timeline-container experience__timeline-container--education wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2017 — present</span>
                        <h3 class="wow fadeInLeft">Alura Certifications</h3>
                        <p class="wow fadeInLeft">- Web accessibility and inclusive designs</p>
                        <p class="wow fadeInLeft">- HTML5 and CSS3</p>
                        <p class="wow fadeInLeft">- Flexbox</p>
                        <p class="wow fadeInLeft">- HTTP and APIs</p>
                        <p class="wow fadeInLeft">- Web Performance and Optimization</p>
                        <p class="wow fadeInLeft">- Sass, Compass and Preprocessors</p>
                        <p class="wow fadeInLeft">- Javascript and jQuery</p>
                        <p class="wow fadeInLeft">- Git and Github</p>
                        <p class="wow fadeInLeft">- Responsive Web Design</p>
                        <p class="wow fadeInLeft">- Wordpress</p>
                        <p class="wow fadeInLeft">- Digital Marketing</p>
                        <p class="wow fadeInLeft">- Scrum: Agility in your project</p>
                        <p class="wow fadeInLeft">- UML: Solution modeling</p>
                        <p class="wow fadeInLeft">- Kanban: Essential Fundamentals</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--education wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2013 — 2017</span>
                        <h3 class="wow fadeInLeft">Academic Graduation</h3>
                        <p class="wow fadeInLeft">System Analysis and Development</p>
                        <p class="wow fadeInLeft"> <strong>UTFPR-CP</strong> </p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--education wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2011 — 2013</span>
                        <h3 class="wow fadeInLeft">Specialization Courses</h3>
                        <p class="wow fadeInLeft">- Webdesign</p>
                        <p class="wow fadeInLeft">- Hardware assembly and maintenance</p>
                        <p class="wow fadeInLeft">- Basic programming and algorithm</p>
                        <p class="wow fadeInLeft">- Industrial Designs</p>
                        <p class="wow fadeInLeft">- Graphic Designer</p>
                    </div>
                    <span class="experience__timeline-line experience__timeline-line--yellow wow fadeIn" data-wow-delay="0.2s"></span>
                </div>
            </div>
        </div>
    </div>
</section>
