<header class="header">
    <div class="header__wrapper">
        <a title="Visit source code" target="_blank" class="header__code only-desktop" href="https://github.com/rinaldilucas/personal-portfolio">
            <i class="fa fa-cogs"></i>source code
        </a>
        <img class="header__logo" src="./assets/images/general/typo.svg" alt="Logo Lucas Rinaldi" />

        <label class="header__button" for="header__button-input" data-header-label>
            <input type="checkbox" id="header__button-input" data-header-toggle />
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="header__nav" data-header-nav>
            <ul class="header__menu">
                <li><a title="Home" href="#intro" class="header__link active" data-header-link="#intro"><i class="icon-home"></i>Home</a></li>
                <li><a title="About" href="#about" class="header__link" data-header-link="#about"><i class="icon-user-following"></i>About</a></li>
                <li><a title="Services" href="#services" class="header__link" data-header-link="#services"><i class="icon-briefcase"></i>Services</a></li>
                <li><a title="Business Hub" href="#hub" class="header__link" data-header-link="#hub"><i class="icon-link"></i>Business Hub</a></li>
                <li><a title="Experience" href="#experience" class="header__link" data-header-link="#experience"><i class="icon-graduation"></i>Experience</a></li>
                <li><a title="Portfolio" href="#portfolio" class="header__link" data-header-link="#portfolio"><i class="icon-docs"></i>Portfolio</a></li>
                <li><a title="Testimonials" href="#testimonials" class="header__link" data-header-link="#testimonials"><i class="icon-pencil"></i>Testimonials</a></li>
                <li><a title="Repositories" href="#repositories" class="header__link" data-header-link="#repositories"><i class="icon-grid"></i>Repositories</a></li>
                <li><a title="Contact" href="#contact" class="header__link" data-header-link="#contact"><i class="icon-bubbles"></i>Contact</a></li>
                <li><a title="Visit source code" target="_blank" class="header__code only-mobile" href="https://github.com/rinaldilucas/personal-portfolio"><i class="fa fa-cogs"></i>source code</a></li>
            </ul>
        </nav>

        <div class="header__footer">
            <a target="_blank" title="Go to Hub Comercial website" href="https://hubcomercial.com" class="header__websites" data-header-link>hubcomercial.com</a>
            <p data-header-copyright class="header__text"></p>
        </div>
    </div>
</header>
