<section id="hub" data-anchor-scroll="hub" class="hub">
  <div class="hub__wrapper">
    <h2 class="hub__title wow animated fadeIn" data-wow-delay="0.1s">Business Hub</h2>
    <div class="spacer only-desktop" data-height="60"></div>
    <div class="hub__content">
      <div class="hub__text wow animated fadeIn" data-wow-delay="0.3s">
        <h1>Do you know the <br>business hub?</h1>
        <p>Have a professional business card <br>ready to share on your social media <br>in a practical way!</p>
        <a class="hub__button" target="_blank" title="Go to Hub Comercial website" href="https://hubcomercial.com">Learn more</a>
      </div>
      <div class="hub__image wow animated fadeIn" data-wow-delay="0.4s">
        <img loading="lazy" alt="Business Hub Example" src="./assets/images/general/hubcomercial.png">
      </div>
    </div>
  </div>
</section>
