<section id="services" data-anchor-scroll="services" class="services">
  <div class="services__wrapper">
    <h2 class="services__title wow animated fadeIn" data-wow-delay="0.1s">Services</h2>
    <div class="spacer" data-height="60"></div>
    <div class="services__content">
      <div class="services__block">
        <div class="services__item wow animated fadeIn" data-wow-delay="0.1s" data-color="#F9D74C">
          <img loading="lazy" src="./assets/images/services/shop.svg" alt="Custom Shop Development" />
          <h2>Custom Shop <br>Development</h2>
          <p>Get your idea off the paper and start earning money on the internet!</p>
        </div>
      </div>
      <div class="services__block services__block--white">
        <div class="services__item wow animated fadeIn" data-wow-delay="0.3s" data-color="#417dc7">
          <img loading="lazy" src="./assets/images/services/websites.svg" alt="Institutional Sites and Others" />
          <h2>Institutional Sites <br>and Others</h2>
          <p>Realize your website and be more present to your customers effectively.</p>
        </div>
      </div>
      <div class="services__block">
        <div class="services__item wow animated fadeIn" data-wow-delay="0.5s" data-color="#F97B8B">
          <img loading="lazy" src="./assets/images/services/custom.svg" alt="Development of Custom Systems" />
          <h2>Development of Custom Systems</h2>
          <p>Create a custom solution to optimize your profissional or personal routine.</p>
        </div>
      </div>
    </div>
    <p class="services__disclaimer wow animated fadeIn" data-wow-delay="0.2s">Got an idea?<br>Send me an<a target="_blank" title="Contact via Email" href="mailto:contact@rinaldilucas.com"> e-mail </a>or<br> call me on<a target="_blank" title="Contact via Whatsapp" href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=5543996168589"> whatsapp</a>! 👋</p>
  </div>
</section>
