.repositories {
  &__wrapper {
    max-width: vw(340);
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include media(">desktop") {
      max-width: vw(1180);
      padding: 0 vw(25);
    }
  }

  &__title {
    @extend .title;
  }

  &__content {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    @include media(">desktop") {
      justify-content: flex-start;
    }
  }

  &__item {
    cursor: pointer !important;
    width: vw(155);
    height: vw(155);
    margin-top: vw(30);

    @include media("<desktop") {
      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 0;
      }
    }

    @include media(">desktop") {
      width: vw(165);
      height: vw(165);
      margin-right: vw(30);
      margin-bottom: vw(30);
    }

    &:hover {
      .repositories__item-mask,
      .repositories__item-title {
        opacity: 0.95 !important;
        transform: translateY(0);
      }
    }

    &-image {
      position: relative;
      overflow: hidden;
      display: block;
      border-radius: vw(20);
      @extend .drop-shadow;
    }

    &-details {
      color: $white;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      display: flex;
      align-items: flex-end;
    }

    &-title {
      color: $white;
      font-size: vw(18);
      margin: 0;
      opacity: 0;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      word-break: break-word;
      padding: vw(20);
      text-align: left;
      font-weight: 600;
    }

    &-thumb {
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &-mask {
      background: $blue;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0;
      transition: $transition-time;
    }
  }
}
