/* ============================================== */
/* =================== fonts ==================== */
/* ============================================== */

$font-main: "Rubik", sans-serif;

/* ============================================== */
/* =================== colors =================== */
/* ============================================== */

$primary: $onix;
$primary-hover: $gray;

$accent: $blue;
$alert: $red;

$font-color: $blue-strong;
$font-color-alt: $blue;
$font-color-inverted: $ice;
$font-color-alt-inverted: $ice;

$button: $blue;
$button-hover: $blue;

$shadow: $black-transparent;
$shadow-alt: $onix-strong;

$background-primary: $white;
$background-primary-inverted: $onix-strong;
$background-secondary: $ice;
$background-secondary-inverted: $onix;

$body: $white;
$body-inverted: $black-light;

$border: $ice-light;
$border-primary: $primary;
$border-secondary: $blue-strong;

$outline: $blue;

$transition-time: 0.3s;
$transition-time-function: ease-in-out;

/* ============================================== */
/* ================ dimensions  ================= */
/* ============================================== */

$layout-desktop: 1920px;
$layout-desktop-height: 930px;
$layout-desktop-original: null;

$layout-mobile: 640px;
$layout-mobile-height: 960px;
$layout-mobile-original: null;

$layout-tablet: 768px;
$layout-tablet-height: 720px;
$layout-tablet-original: null;

$mobile-factor: 6;
