<section id="experiencia" data-anchor-scroll="experiencia" class="experience">
    <div class="experience__wrapper">
        <h2 class="experience__title wow animated fadeIn" data-wow-delay="0.1s">Experiencia</h2>
        <div class="spacer" data-height="60"></div>
        <div class="experience__content">
            <div class="experience__timeline wow animated fadeIn" data-wow-delay="0.3s">
                <div class="experience__timeline-content">
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2020 — 2022</span>
                        <h3 class="wow fadeInLeft">Slingshot Digital<br><small>(Desarrollador Front-end)</small></h3>
                        <p class="wow fadeInLeft">- Creación de páginas a partir de prototipos en .psd y .xd, proporcionados por los clientes</p>
                        <p class="wow fadeInLeft">- Desarrollo de nuevas funciones para aplicaciones existentes/para lanzamiento</p>
                        <p class="wow fadeInLeft">- Estiramientos faciales y cambios generales de diseño</p>
                        <p class="wow fadeInLeft">- Estimación y definición de tiempos de entrega</p>
                        <p class="wow fadeInLeft">- Mantener la cola de errores del proyecto mantenida</p>
                        <p class="wow fadeInLeft">- Implementación y prueba de métricas (Adobe Audience Manager, Facebook Pixel, Google Tag Manager)</p>
                        <p class="wow fadeInLeft">- Usando el paquete de Adobe para editar imágenes/videos</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2019 — 2020</span>
                        <h3 class="wow fadeInLeft">ForLogic<br><small>(Desarrollador Fullstack)</small></h3>
                        <p class="wow fadeInLeft">- Migración de los productos digitales de la organización del modelo MVC a Angular, usando REST API (C #) y Scrum como metodología ágil</p>
                        <p class="wow fadeInLeft">- Mantenimiento de la cola de errores del producto heredado de la empresa mediante la metodología Kanban</p>
                        <p class="wow fadeInLeft">- Desarrollo y mantenimiento de API consumidas internamente ofrecidas como servicios</p>
                        <p class="wow fadeInLeft">- Creación y refactorización de pruebas unitarias usando xUnit</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2019</span>
                        <h3 class="wow fadeInLeft">Robert Walters <br><small>(Reclutador de Tecnología de la Información)</small></h3>
                        <p class="wow fadeInLeft">- Reclutamiento especializado y selección de profesionales de TI</p>
                        <p class="wow fadeInLeft">- Análisis y evaluación curricular de profesionales en la división de infraestructura, desarrollo, seguridad de la información y DevOps</p>
                        <p class="wow fadeInLeft">- Soporte y seguimiento de profesionales hasta el momento de la contratación real</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2018 — 2019</span>
                        <h3 class="wow fadeInLeft">Infinite Cloud <br><small>(Desarrollador Front-end)</small></h3>
                        <p class="wow fadeInLeft">- Desarrollo de proyectos web como e-commerce, sitios institucionales, portafolios y sitios web en general</p>
                        <p class="wow fadeInLeft">- Asesoramiento y seguimiento de la publicidad de Facebook y Google AdWords</p>
                        <p class="wow fadeInLeft">- Producción, desarrollo y aplicación artística orientada a la web</p>
                        <p class="wow fadeInLeft">- Responsable de implementar y lanzar los productos desarrollados</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2016 — 2017</span>
                        <h3 class="wow fadeInLeft">S4W<br><small>(Desarrollador Fullstack)</small></h3>
                        <p class="wow fadeInLeft">- Desarrollo web a partir de prototipos (Photoshop)</p>
                        <p class="wow fadeInLeft">- Mantenimiento de la base de datos (servidor SQL)</p>
                        <p class="wow fadeInLeft">- Desarrollo y codificación lógica de proyectos (ASP.NET y C #)</p>
                        <p class="wow fadeInLeft">- Refactorización y mejoras gráficas de proyectos existentes</p>
                        <p class="wow fadeInLeft">- Prueba y refactorización de código antiguoimiento de profesionales hasta el momento de la contratación real</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2014 — 2015</span>
                        <h3 class="wow fadeInLeft">Cornélio Procópio's City Hall <br><small>(Pasante de Infraestructura)</small></h3>
                        <p class="wow fadeInLeft">- Desarrollo web a partir de prototipos de Photoshop</p>
                        <p class="wow fadeInLeft">- Mantenimiento de la base de datos usando el servidor SQL</p>
                        <p class="wow fadeInLeft">- Desarrollo y codificación lógica de proyectos usando ASP.NET y C #</p>
                        <p class="wow fadeInLeft">- Refactorización y mejoras gráficas de proyectos existentes</p>
                        <p class="wow fadeInLeft">- Implementación de pruebas y refactorización de código antiguo</p>
                    </div>
                    <span class="experience__timeline-line experience__timeline-line--blue wow fadeIn" data-wow-delay="0.2s"></span>
                </div>
            </div>
            <div class="experience__timeline experience__timeline--education wow animated fadeIn" data-wow-delay="0.5s">
                <div class="experience__timeline-content">
                    <div class="experience__timeline-container experience__timeline-container--education wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2017 — presente</span>
                        <h3 class="wow fadeInLeft">Certificaciones de Alura</h3>
                        <p class="wow fadeInLeft">- Accesibilidad web y diseños inclusivos</p>
                        <p class="wow fadeInLeft">- HTML5 y CSS3</p>
                        <p class="wow fadeInLeft">- Flexbox</p>
                        <p class="wow fadeInLeft">- HTTP y API</p>
                        <p class="wow fadeInLeft">- Optimización y rendimiento web</p>
                        <p class="wow fadeInLeft">- Sass, Compass y preprocesadores</p>
                        <p class="wow fadeInLeft">- Javascript y jQuery</p>
                        <p class="wow fadeInLeft">- Git y Github</p>
                        <p class="wow fadeInLeft">- Diseño web adaptable</p>
                        <p class="wow fadeInLeft">- Wordpress</p>
                        <p class="wow fadeInLeft">- Marketing digital</p>
                        <p class="wow fadeInLeft">- Scrum: Agilidad en su proyecto</p>
                        <p class="wow fadeInLeft">- UML: modelado de soluciones</p>
                        <p class="wow fadeInLeft">- Kanban: Fundamentos esencialesctorización de código antiguo</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--education wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2013 — 2017</span>
                        <h3 class="wow fadeInLeft">Graduación Académica</h3>
                        <p class="wow fadeInLeft">Análisis y Desarrollo del Sistema</p>
                        <p class="wow fadeInLeft"> <strong>UTFPR-CP</strong> </p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--education wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2011 — 2013</span>
                        <h3 class="wow fadeInLeft">Cursos de Especialización</h3>
                        <p class="wow fadeInLeft">- Diseño web</p>
                        <p class="wow fadeInLeft">- Montaje y mantenimiento de hardware</p>
                        <p class="wow fadeInLeft">- Programación y algoritmo básicos</p>
                        <p class="wow fadeInLeft">- Diseños industriales</p>
                        <p class="wow fadeInLeft">- Diseñador gráfico</p>
                    </div>
                    <span class="experience__timeline-line experience__timeline-line--yellow wow fadeIn" data-wow-delay="0.2s"></span>
                </div>
            </div>
        </div>
    </div>
</section>
