<header class="header">
    <div class="header__wrapper">
        <a title="Ver c贸digo fuente" target="_blank" class="header__code only-desktop" href="https://github.com/rinaldilucas/personal-portfolio">
            <i class="fa fa-cogs"></i>c贸digo fuente
        </a>
        <img class="header__logo" src="./assets/images/general/typo.svg" alt="Logo Lucas Rinaldi" />

        <label class="header__button" for="header__button-input" data-header-label>
            <input type="checkbox" id="header__button-input" data-header-toggle />
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="header__nav" data-header-nav>
            <ul class="header__menu">
                <li><a title="Home" href="./es/#!intro" class="header__link active" data-header-link="#intro"><i class="icon-home"></i>Home</a></li>
                <li><a title="Sobre Mi" href="./es/#!sobre" class="header__link" data-header-link="#sobre"><i class="icon-user-following"></i>Sobre Mi</a></li>
                <li><a title="Servicios" href="./es/#!servicios" class="header__link" data-header-link="#servicios"><i class="icon-briefcase"></i>Servicios</a></li>
                <li><a title="Hub Comercial" href="./es/#!hub" class="header__link" data-header-link="#hub"><i class="icon-link"></i>Hub Comercial</a></li>
                <li><a title="Experiencia" href="./es/#!experiencia" class="header__link" data-header-link="#experiencia"><i class="icon-graduation"></i>Experiencia</a></li>
                <li><a title="Portafolio" href="./es/#!portafolio" class="header__link" data-header-link="#portafolio"><i class="icon-docs"></i>Portafolio</a></li>
                <li><a title="Testimonios" href="./es/#!testimonios" class="header__link" data-header-link="#testimonios"><i class="icon-pencil"></i>Testimonios</a></li>
                <li><a title="Repositorios" href="./es/#!repositorios" class="header__link" data-header-link="#repositorios"><i class="icon-grid"></i>Repositorios</a></li>
                <li><a title="Contacto" href="./es/#!contacto" class="header__link" data-header-link="#contacto"><i class="icon-bubbles"></i>Contacto</a></li>
                <li><a title="Ver c贸digo fuente" target="_blank" class="header__code only-mobile" href="https://github.com/rinaldilucas/personal-portfolio"><i class="fa fa-cogs"></i>c贸digo fuente</a></li>
            </ul>
        </nav>

        <div class="header__footer">
            <a target="_blank" title="Ir al sitio Decrypto Music" href="https://decryptomusic.com" class="header__websites" data-header-link>decryptomusic.com</a>
            <a target="_blank" title="Ir al sitio Hub Comercial" href="https://hubcomercial.com" class="header__websites" data-header-link>hubcomercial.com</a>
            <p data-header-copyright class="header__text"></p>
        </div>
    </div>
</header>
