<section id="hub" data-anchor-scroll="hub" class="hub">
  <div class="hub__wrapper">
    <h2 class="hub__title wow animated fadeIn" data-wow-delay="0.1s">Hub Comercial</h2>
    <div class="spacer only-desktop" data-height="60"></div>
    <div class="hub__content">
      <div class="hub__text wow animated fadeIn" data-wow-delay="0.3s">
        <h1>¿Conoces el hub comercial?</h1>
        <p>¡Ten una tarjeta de presentación profesional <br>lista para compartir en tus redes <br>sociales de manera práctica!</p>
        <a class="hub__button" target="_blank" title="Ir al sitio web del Hub Comercial" href="https://hubcomercial.com">Saber mas</a>
      </div>
      <div class="hub__image wow animated fadeIn" data-wow-delay="0.4s">
        <img loading="lazy" alt="Ejemplo Hub Comercial" src="./assets/images/general/hubcomercial.png">
      </div>
    </div>
  </div>
</section>
