<section id="intro" data-anchor-scroll="intro" class="intro">
    <div class="intro__wrapper">
        <div class="intro__image wow animated fadeIn">
            <img src="./assets/images/general/logo.svg" alt="Desarrolador Lucas Rinaldi">
        </div>
        <p class="intro__name">Lucas Rinaldi</p>
        <p class="intro__text">Soy <span class="animated text-rotating" data-morphext>apasionado por la tecnología, desarrollador frontend (y fullstack), analista de sistemas, amante del código</span></p>
        <div class="intro__social">
            <a class="wow animated fadeIn" title="E-mail Lucas Rinaldi" target="_blank" href="mailto:contact@rinaldilucas.com">
                <i class="fa fa-envelope"></i>
            </a>
            <a class="wow animated fadeIn" title="Linkedin Lucas Rinaldi" target="_blank" href="https://linkedin.com/in/rinaldilucas">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="wow animated fadeIn" title="Github Lucas Rinaldi" target="_blank" href="https://github.com/rinaldilucas">
                <i class="fab fa-github"></i>
            </a>
            <a class="wow animated fadeIn" title="Whatsapp Lucas Rinaldi" target="_blank" href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=5543996168589">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a class="wow animated fadeIn" title="Telegram Lucas Rinaldi" target="_blank" href="https://t.me/rinaldilucas">
                <i class="fab fa-telegram"></i>
            </a>
        </div>
        <a target="_blank" href="./assets/files/curriculum-es.pdf" title="Ver Curriculum Vitae" class="intro__button wow animated fadeIn">Curriculum Vitae</a>
        <div class="intro__language wow animated fadeIn">
            <a title="Ir para website em português" href="./br/" class="intro__flag">
                <img src="./assets/images/general/flag-pt.svg">
            </a>
            <a title="Go to english website" href="./" class="intro__flag">
                <img src="./assets/images/general/flag-en.svg">
            </a>
        </div>
    </div>
    <div class="intro__scroll">
        <a title="Ver mas" href="./es/!#sobre" class="intro__scroll-wrapper wow animated fadeIn">
            <span>ver mas</span>
            <span class="intro__scroll-mouse">
                <span class="intro__scroll-wheel"></span>
            </span>
        </a>
    </div>

    {{> components/parallax}}
</section>
