<section id="servicios" data-anchor-scroll="servicios" class="services">
    <div class="services__wrapper">
        <h2 class="services__title wow animated fadeIn" data-wow-delay="0.1s">Servicios</h2>
        <div class="spacer" data-height="60"></div>
        <div class="services__content">
            <div class="services__block">
                <div class="services__item wow animated fadeIn" data-wow-delay="0.1s" data-color="#F9D74C">
                    <img loading="lazy" src="./assets/images/services/shop.svg" alt="Creaci贸n de Tienda Personalizada" />
                    <h2>Creaci贸n de Tienda <br>Personalizada</h2>
                    <p>隆Saque su idea del papel y comience a ganar dinero en l铆nea!</p>
                </div>
            </div>
            <div class="services__block services__block--white">
                <div class="services__item wow animated fadeIn" data-wow-delay="0.3s" data-color="#417dc7">
                    <img loading="lazy" src="./assets/images/services/websites.svg" alt="Sitios Institucionales y Otros" />
                    <h2>Sitios Institucionales <br>y Otros</h2>
                    <p>Realice su sitio web y est茅 m谩s presente para sus clientes de manera eficaz.</p>
                </div>
            </div>
            <div class="services__block">
                <div class="services__item wow animated fadeIn" data-wow-delay="0.5s" data-color="#F97B8B">
                    <img loading="lazy" src="./assets/images/services/custom.svg" alt="Desarrollo de Sistemas Personalizados" />
                    <h2>Desarrollo de Sistemas <br>Personalizados</h2>
                    <p>Cree una soluci贸n personalizada para optimizar su rutina.</p>
                </div>
            </div>
        </div>
        <p class="services__disclaimer wow animated fadeIn" data-wow-delay="0.2s">驴Tienes alguna idea?<br>Env铆ame un<a target="_blank" title="Contactar por correo electr贸nico" href="mailto:lucasreinaldi@gmail.com"> correo electr贸nico </a><br>o<br class="only-mobile">ll谩mame por<a target="_blank" title="Contactar por Whatsapp" href="https://api.whatsapp.com/send?1=en_BR&amp;phone=5543996168589"> whatsapp</a>! </p>
    </div>
</section>
