<div class="chat animated pulse infinite">
  <a title="{{resources.chat.cta.alt}}" href="{{resources.chat.cta.link}}" class="chat__button" target="_blank">
    <i class="fa fa-envelope"></i> {{resources.chat.cta.text}}</a>
</div>
