<section id="sobre" data-anchor-scroll="sobre" class="about">
  <div class="about__wrapper">
    <h2 class="about__title wow animated fadeIn" data-wow-delay="0.1s">Sobre Mim</h2>
    <div class="spacer" data-height="60"></div>
    <div class="about__content">
      <div class="about__image wow animated fadeIn" data-wow-delay="0.1s">
        <img loading="lazy" src="./assets/images/general/persona.svg" alt="Desenvolvedor Lucas Rinaldi">
        <div class="spacer only-mobile" data-height="30"></div>
      </div>
      <div class="about__baloon wow animated fadeIn" data-wow-delay="0.3s">
        <div class="about__baloon-text">
          <p>Me chamo Lucas Rinaldi e trabalho com tecnologia desde 2016. <br>Curioso e apaixonado por desafios, busco meu desenvolvimento profissional e pessoal contribuindo com pessoas incríveis.</p>
          <div class="spacer only-mobile" data-height="30"></div>
        </div>
        <div class="about__progress">
          <div class="about__progress-item">
            <div class="about__progress-text">
              <h4>Front-end</h4>
              <span>98%</span>
            </div>
            <div class="about__progress-background">
              <div class="about__progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="98" data-color="#FFD15C"></div>
            </div>
            <div class="spacer" data-height="20"></div>
          </div>
          <div class="about__progress-item">
            <div class="about__progress-text">
              <h4>Back-end</h4>
              <span>82%</span>
            </div>
            <div class="about__progress-background">
              <div class="about__progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="82" data-color="#417dc7"></div>
            </div>
            <div class="spacer" data-height="20"></div>
          </div>
          <div class="about__progress-item">
            <div class="about__progress-text">
              <h4>Databases</h4>
              <span>71%</span>
            </div>
            <div class="about__progress-background">
              <div class="about__progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="71" data-color="#FF4C60"></div>
            </div>
            <div class="spacer" data-height="20"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
