<section id="experiencia" data-anchor-scroll="experiencia" class="experience">
    <div class="experience__wrapper">
        <h2 class="experience__title wow animated fadeIn" data-wow-delay="0.1s">Experiências</h2>
        <div class="spacer" data-height="60"></div>
        <div class="experience__content">
            <div class="experience__timeline wow animated fadeIn" data-wow-delay="0.3s">
                <div class="experience__timeline-content">
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2023 — presente</span>
                        <h3 class="wow fadeInLeft">ForLogic<br><small>(Desenvolvedor Full Stack)</small></h3>
                        <p class="wow fadeInLeft">- Inspeção e correção da fila de melhorias e bugs do software desenvolvido pela empresa utilizando Kanban</p>
                        <p class="wow fadeInLeft">- Desenvolvimento e manutenção de APIs consumidas internamente e ofertadas como serviços</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2020 — 2022</span>
                        <h3 class="wow fadeInLeft">Slingshot Digital<br><small>(Desenvolvedor Front-end)</small></h3>
                        <p class="wow fadeInLeft">- Criação de páginas a partir de protótipos em .psd e .xd, fornecidos pelos clientes</p>
                        <p class="wow fadeInLeft">- Desenvolvimento de novos features para aplicações já existentes/para lançamento</p>
                        <p class="wow fadeInLeft">- Facelifts e mudanças de layout em geral</p>
                        <p class="wow fadeInLeft">- Estimativa e definição de prazos de entrega</p>
                        <p class="wow fadeInLeft">- Manutenção da fila de bugs de projetos mantidos</p>
                        <p class="wow fadeInLeft">- Implementação e teste de métricas (Adobe Audience Manager, Facebook Pixel, Google Tag Manager)</p>
                        <p class="wow fadeInLeft">- Utilização do pacote Adobe para edição de imagens/vídeos</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2019 — 2020</span>
                        <h3 class="wow fadeInLeft">ForLogic<br><small>(Desenvolvedor Full Stack)</small></h3>
                        <p class="wow fadeInLeft">- Migração dos produtos digitais da organização do modelo MVC para Angular, utilizando REST API (C#) e Scrum como metodologia ágil</p>
                        <p class="wow fadeInLeft">- Manutenção da fila de bugs dos produto legado da companhia utilizando a metodologia Kanban</p>
                        <p class="wow fadeInLeft">- Desenvolvimento e manutenção de APIs consumidas internamente e ofertadas como serviços</p>
                        <p class="wow fadeInLeft">- Criação e refatoração de testes unitários utilizando xUnit</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2019</span>
                        <h3 class="wow fadeInLeft">Robert Walters <br><small>(Recrutador em Tecnologia da Informação)</small></h3>
                        <p class="wow fadeInLeft">- Recrutamento e seleção especializado de profissionais da área de tecnologia da informação</p>
                        <p class="wow fadeInLeft">- Análise e avaliação curricular de profissionais na divisão de infraestrutura, desenvolvimento, segurança da informação e DevOps</p>
                        <p class="wow fadeInLeft">- Suporte e acompanhamento dos profissionais até o momento da contratação de fato</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2018 — 2019</span>
                        <h3 class="wow fadeInLeft">Infinite Cloud <br><small>(Desenvolvedor Front-end)</small></h3>
                        <p class="wow fadeInLeft">- Desenvolvimento de projetos web como e-commerce, sites institucionais, portfólios e websites em geral</p>
                        <p class="wow fadeInLeft">- Consultoria e acompanhamento de publicidade no Facebook e Google AdWords</p>
                        <p class="wow fadeInLeft">- Produção, desenvolvimento e aplicação artística voltada à web</p>
                        <p class="wow fadeInLeft">- Responsável por deploy e release dos produtos desenvolvidos</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2016 — 2017</span>
                        <h3 class="wow fadeInLeft">S4W<br><small>(Desenvolvedor Full Stack)</small></h3>
                        <p class="wow fadeInLeft">- Desenvolvimento web a partir de protótipos (Photoshop)</p>
                        <p class="wow fadeInLeft">- Manutenção dos bancos de dados (SQL server)</p>
                        <p class="wow fadeInLeft">- Desenvolvimento e codificação lógica dos projetos (ASP.NET e C#)</p>
                        <p class="wow fadeInLeft">- Refatoração e melhorias gráficas de projetos já existentes</p>
                        <p class="wow fadeInLeft">- Realização de testes e refatoração de códigos antigos</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--work wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2014 — 2015</span>
                        <h3 class="wow fadeInLeft">Cornélio Procópio's City Hall <br><small>(Estagiário em Infraestrutura)</small></h3>
                        <p class="wow fadeInLeft">- Desenvolvimento web a partir de protótipos em Photoshop</p>
                        <p class="wow fadeInLeft">- Manutenção dos bancos de dados utilizando SQL server</p>
                        <p class="wow fadeInLeft">- Desenvolvimento e codificação lógica dos projetos usando ASP.NET e C#</p>
                        <p class="wow fadeInLeft">- Refatoração e melhorias gráficas de projetos já existentes</p>
                        <p class="wow fadeInLeft">- Implementação de testes e refatoração de códigos antigos</p>
                    </div>
                    <span class="experience__timeline-line experience__timeline-line--blue wow fadeIn" data-wow-delay="0.2s"></span>
                </div>
            </div>
            <div class="experience__timeline experience__timeline--education wow animated fadeIn" data-wow-delay="0.5s">
                <div class="experience__timeline-content">
                    <div class="experience__timeline-container experience__timeline-container--education wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2017 — presente</span>
                        <h3 class="wow fadeInLeft">Certificações Alura</h3>
                        <p class="wow fadeInLeft">- Acessibilidade web</p>
                        <p class="wow fadeInLeft">- Agilidade</p>
                        <p class="wow fadeInLeft">- Angular</p>
                        <p class="wow fadeInLeft">- Comunicação assertiva</p>
                        <p class="wow fadeInLeft">- Design Gráfico</p>
                        <p class="wow fadeInLeft">- Design Gráfico usando Gestalt</p>
                        <p class="wow fadeInLeft">- Engenharia de requisitos</p>
                        <p class="wow fadeInLeft">- Flexbox</p>
                        <p class="wow fadeInLeft">- Fotografia</p>
                        <p class="wow fadeInLeft">- Fotografia</p>
                        <p class="wow fadeInLeft">- Git e Github</p>
                        <p class="wow fadeInLeft">- Grunt</p>
                        <p class="wow fadeInLeft">- HTML5 e CSS3</p>
                        <p class="wow fadeInLeft">- HTTP</p>
                        <p class="wow fadeInLeft">- JavaScript</p>
                        <p class="wow fadeInLeft">- Kanban</p>
                        <p class="wow fadeInLeft">- Marketing digital</p>
                        <p class="wow fadeInLeft">- NGINX</p>
                        <p class="wow fadeInLeft">- Node.js e JWT</p>
                        <p class="wow fadeInLeft">- Performance Web I</p>
                        <p class="wow fadeInLeft">- PNL</p>
                        <p class="wow fadeInLeft">- React</p>
                        <p class="wow fadeInLeft">- Sass e Compass</p>
                        <p class="wow fadeInLeft">- Scrum</p>
                        <p class="wow fadeInLeft">- Swagger</p>
                        <p class="wow fadeInLeft">- TypeScript</p>
                        <p class="wow fadeInLeft">- UML</p>
                        <p class="wow fadeInLeft">- UX and UX Strategy</p>
                        <p class="wow fadeInLeft">- Web Design Responsivo</p>
                        <p class="wow fadeInLeft">- Webpack</p>
                        <p class="wow fadeInLeft">- Wordpress</p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--education wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2013 — 2017</span>
                        <h3 class="wow fadeInLeft">Graduação Acadêmica</h3>
                        <p class="wow fadeInLeft">Análise e Desenvolvimento de Sistemas</p>
                        <p class="wow fadeInLeft"> <strong>UTFPR-CP</strong> </p>
                    </div>
                    <div class="experience__timeline-container experience__timeline-container--education wow fadeIn" data-wow-delay="0.2s">
                        <span class="wow fadeInLeft">2011 — 2013</span>
                        <h3 class="wow fadeInLeft">Cursos de Especialização</h3>
                        <p class="wow fadeInLeft">- Webdesign</p>
                        <p class="wow fadeInLeft">- Montagem e manutenção de hardwares</p>
                        <p class="wow fadeInLeft">- Programação e algoritmo básico</p>
                        <p class="wow fadeInLeft">- Desenhos Industriais</p>
                        <p class="wow fadeInLeft">- Designer Gráfico</p>
                    </div>
                    <span class="experience__timeline-line experience__timeline-line--yellow wow fadeIn" data-wow-delay="0.2s"></span>
                </div>
            </div>
        </div>
    </div>
</section>
