<header class="header">
  <div class="header__wrapper">
    <a title="Visitar código fonte" target="_blank" class="header__code only-desktop" href="https://github.com/rinaldilucas/personal-portfolio">
      <i class="fa fa-cogs"></i>código fonte
    </a>
    <img class="header__logo" src="./assets/images/general/typo.svg" alt="Logo Lucas Rinaldi" />

    <label class="header__button" for="header__button-input" data-header-label>
      <input type="checkbox" id="header__button-input" data-header-toggle />
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="header__nav" data-header-nav>
      <ul class="header__menu">
        <li><a title="Home" href="./br/!#intro" class="header__link active" data-header-link="#intro"><i class="icon-home"></i>Home</a></li>
        <li><a title="Sobre" href="./br/!#sobre" class="header__link" data-header-link="#sobre"><i class="icon-user-following"></i>Sobre</a></li>
        <li><a title="Serviços" href="./br/!#servicos" class="header__link" data-header-link="#servicos"><i class="icon-briefcase"></i>Serviços</a></li>
        <li><a title="Hub Comercial" href="./br/!#hub" class="header__link" data-header-link="#hub"><i class="icon-link"></i>Hub Comercial</a></li>
        <li><a title="Experiência" href="./br/!#experiencia" class="header__link" data-header-link="#experiencia"><i class="icon-graduation"></i>Experiência</a></li>
        <li><a title="Trabalhos" href="./br/!#trabalhos" class="header__link" data-header-link="#trabalhos"><i class="icon-docs"></i>Trabalhos</a></li>
        <li><a title="Depoimentos" href="./br/!#depoimentos" class="header__link" data-header-link="#depoimentos"><i class="icon-pencil"></i>Depoimentos</a></li>
        <li><a title="Repositórios" href="./br/!#repositorios" class="header__link" data-header-link="#repositorios"><i class="icon-grid"></i>Repositórios</a></li>
        <li><a title="Contato" href="./br/!#contato" class="header__link" data-header-link="#contato"><i class="icon-bubbles"></i>Contato</a></li>
        <li><a title="Visitar código fonte" target="_blank" class="header__code only-mobile" href="https://github.com/rinaldilucas/personal-portfolio"><i class="fa fa-cogs"></i>código fonte</a></li>
      </ul>
    </nav>

    <div class="header__footer">
      <a target="_blank" title="Ir para o site do Decrypto Music" href="https://decryptomusic.com" class="header__websites" data-header-link>decryptomusic.com</a>
      <a target="_blank" title="Ir para o site do Hub Comercial" href="https://hubcomercial.com" class="header__websites" data-header-link>hubcomercial.com</a>
      <p data-header-copyright class="header__text"></p>
    </div>
  </div>
</header>
