<section id="hub" data-anchor-scroll="hub" class="hub">
  <div class="hub__wrapper">
    <h2 class="hub__title wow animated fadeIn" data-wow-delay="0.1s">Hub Comercial</h2>
    <div class="spacer only-desktop" data-height="60"></div>
    <div class="hub__content">
      <div class="hub__text wow animated fadeIn" data-wow-delay="0.3s">
        <h1>Conhece o hub comercial?</h1>
        <p>Tenha um cartão de visita profissional <br>pronto para divulgar em suas redes sociais <br>de forma prática!</p>
        <a class="hub__button" target="_blank" title="Ir para o website do Hub Comercial" href="https://hubcomercial.com">Saiba mais</a>
      </div>
      <div class="hub__image wow animated fadeIn" data-wow-delay="0.4s">
        <img loading="lazy" alt="Exemplo de Hub Comercial" src="./assets/images/general/hubcomercial.png">
      </div>
    </div>
  </div>
</section>
