<div class="chat animated pulse infinite">
  <a title="{{resources.chat.cta.title}}" class="icon icon--bigger icon--whatsapp icon--whatsapp-white" href="{{resources.chat.cta.link}}" target="_blank"></a>
</div>
