.infinity {
  width: vw(120);
  height: vw(60);
  position: relative;

  div,
  span {
    position: absolute;
  }

  div {
    top: 0;
    left: 50%;
    width: vw(60);
    height: vw(60);
    animation: rotate 6.9s linear infinite;
    span {
      left: vw(-8);
      top: 50%;
      margin: vw(-8) 0 0 0;
      width: vw(16);
      height: vw(16);
      display: block;
      background: $ice;
      box-shadow: vw(2) vw(2) vw(8) rgba($ice, 0.09);
      border-radius: 50%;
      transform: rotate(90deg);
      animation: move 6.9s linear infinite;
      &:before,
      &:after {
        content: "";
        position: absolute;
        display: block;
        border-radius: 50%;
        width: vw(14);
        height: vw(14);
        background: inherit;
        top: 50%;
        left: 50%;
        margin: vw(-7) 0 0 vw(-7);
        box-shadow: inherit;
      }
      &:before {
        animation: drop1 0.8s linear infinite;
      }
      &:after {
        animation: drop2 0.8s linear infinite 0.4s;
      }
    }
    &:nth-child(2) {
      animation-delay: -2.3s;
      span {
        animation-delay: -2.3s;
      }
    }
    &:nth-child(3) {
      animation-delay: -4.6s;
      span {
        animation-delay: -4.6s;
      }
    }
  }
}

.infinityChrome {
  width: vw(128);
  height: vw(60);

  div {
    position: absolute;
    width: vw(16);
    height: vw(16);
    background: $blue;
    box-shadow: vw(2) vw(2) vw(8) rgba($blue, 0.09);
    border-radius: 50%;
    animation: moveSvg 6.9s linear infinite;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    transform: scaleX(-1);
    offset-path: path(
      "M64.3636364,29.4064278 C77.8909091,43.5203348 84.4363636,56 98.5454545,56 C112.654545,56 124,44.4117395 124,30.0006975 C124,15.5896556 112.654545,3.85282763 98.5454545,4.00139508 C84.4363636,4.14996252 79.2,14.6982509 66.4,29.4064278 C53.4545455,42.4803627 43.5636364,56 29.4545455,56 C15.3454545,56 4,44.4117395 4,30.0006975 C4,15.5896556 15.3454545,4.00139508 29.4545455,4.00139508 C43.5636364,4.00139508 53.1636364,17.8181672 64.3636364,29.4064278 Z"
    );
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      border-radius: 50%;
      width: vw(14);
      height: vw(14);
      background: inherit;
      top: 50%;
      left: 50%;
      margin: vw(-7) 0 0 vw(-7);
      box-shadow: inherit;
    }
    &:before {
      animation: drop1 0.8s linear infinite;
    }
    &:after {
      animation: drop2 0.8s linear infinite 0.4s;
    }
    &:nth-child(2) {
      animation-delay: -2.3s;
    }
    &:nth-child(3) {
      animation-delay: -4.6s;
    }
  }
}

#preloader {
  background: $white;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1031;

  .outer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.goo-outer {
  display: none;
}
